# String

In [11]:
# String is a an array of characters
txt = 'Hello World'
print(txt)
print(type(txt))

# Slcing 
print(txt[0])
print(txt[1])
print(txt[-1])

print(txt[0:5])
print(txt[:5])
print(txt[6:])

# getting the length
print(len(txt))

# Concatenation / Repitition
tmp = " Islam"
print(txt+tmp)

print(tmp * 3)

Hello World
<class 'str'>
H
e
d
Hello
Hello
World
11
Hello World Islam
 Islam Islam Islam

# Input

In [13]:
x = input()
print(x)

hello

In [15]:
x = input("Enter a number : ")
print(x)

islam

In [16]:
x = input("Enter a number:")
y = input("Enter a number:")
print(x+y)

42

In [21]:
# Casting
# int(), float(), str()

x = input("Enter a number")
x = int(x)
y = input("Enter a number")
y = int(y)
print(x+y)

7

In [23]:
x = int(input("Please enter a number"))
y = int(input("Please enter a number"))
print("Addition",x+y)
print("Subtraction",x-y)
print("Multiplication",x*y)
print("Division",x/y)

Addition 15
Subtraction 11
Multiplication 26
Division 6.5

# Basic Data Structure
- Sequential: List, Tuple
- Non-Sequential: Dictionary, set

In [ ]:
# List

data = [12,34,45,23,54,56, "Islam", 3.4]
print(data)
print(type(data))

# Access / Slicing
print(data[2])
print(data[5])
print(data[-1])

print(data[2:5])

# Modification
data[2] = 70
print(data)

[12, 34, 45, 23, 54, 56, 'Islam', 3.4]
<class 'list'>
45
56
3.4
[45, 23, 54]
[12, 34, 70, 23, 54, 56, 'Islam', 3.4]

In [ ]:
data = [12,43,64,4,56,20]

# Add items
data.append(20)
print(data)

data.insert(2, 50)
print(data)

tmp = [1,2,3]
# data.append(tmp) # [12, 43, 50, 64, 4, 56, 20, [1, 2, 3]]
data.extend(tmp)
print(data)

# Remove items
data.pop()
print(data)

data.pop(2)
print(data)

data.remove(56)
print(data)

data.remove(20) # Remove first occurrence only
print(data)

[12, 43, 64, 4, 56, 20, 20]
[12, 43, 50, 64, 4, 56, 20, 20]
[12, 43, 50, 64, 4, 56, 20, 20, 1, 2, 3]
[12, 43, 50, 64, 4, 56, 20, 20, 1, 2]
[12, 43, 64, 4, 56, 20, 20, 1, 2]
[12, 43, 64, 4, 20, 20, 1, 2]
[12, 43, 64, 4, 20, 1, 2]

In [46]:
data = [12,43,64,4,56,20]

# Sorting
data.sort()
print(data)

data.sort(reverse=True)
print(data)

# counting ,  index
print(data.count(20))
print(data.index(43))

# + Operator
data2 = [1,2,3]
data3 = data + data2
print(data3)

# Repetition
data4 = data2 * 3
print(data4)

[4, 12, 20, 43, 56, 64]
[64, 56, 43, 20, 12, 4]
1
2
[64, 56, 43, 20, 12, 4, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [48]:
x = 3
y = x
y += 1
print(x)
print(y)

3
4

In [49]:
# Copy
# Shallow Copy
data1 = [1,2,3]
data2 = data1  # Copy by reference
data2.append(4)

print(data1)
print(data2)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [50]:
# Deep Copy
data1=[1,2,3]
data2 = data1.copy() # Copy by values
data2.append(4)
print(data1)
print(data2)

[1, 2, 3]
[1, 2, 3, 4]

# Tuple

In [ ]:
data = (12,43,23,45)
print(data)
print(type(data))

print(data[2])

# Not Modifiable
# data[1] = 70 # ERROR

print(data.count(20))
print(data.index(23))

# Usualy used with constants that need to be grouped
# Examples--> PC_Status = ('Shutdown', 'Logged In', 'Hybernate')

(12, 43, 23, 45)
<class 'tuple'>
23
0
2

# Dictionary

In [60]:
#  Syntax:
# data = {'Key':'Value'}
# Key -> Can be int or str
# Value -> can be any type in python

data = {'Name':'Islam Adel', 'Id': 12345, 'Location':'Cairo'}

print(data)
print(type(data))

# Access
print(data['Name'])
print(data['Location'])

# Modify
data['Id'] = 102030
print(data)

{'Name': 'Islam Adel', 'Id': 12345, 'Location': 'Cairo'}
<class 'dict'>
Islam Adel
Cairo
{'Name': 'Islam Adel', 'Id': 102030, 'Location': 'Cairo'}

In [69]:
data = {'Name':'Islam Adel', 'Id': 12345, 'Location':'Cairo'}

# Add items
data['Grades'] = [10,20]
print(data)
data['Grades'] = [1,2]
print(data)

data.setdefault('Position', 'Lead')
print(data)
data.setdefault('Position', 'Senior')
print(data)

data2 = {'A':1, 'B':2}
data.update(data2)
print(data)

# Removing Items
data.pop('A')
print(data)

data.popitem()
print(data)

data.clear()
print(data)

{'Name': 'Islam Adel', 'Id': 12345, 'Location': 'Cairo', 'Grades': [10, 20]}
{'Name': 'Islam Adel', 'Id': 12345, 'Location': 'Cairo', 'Grades': [1, 2]}
{'Name': 'Islam Adel', 'Id': 12345, 'Location': 'Cairo', 'Grades': [1, 2], 'Position': 'Lead'}
{'Name': 'Islam Adel', 'Id': 12345, 'Location': 'Cairo', 'Grades': [1, 2], 'Position': 'Lead'}
{'Name': 'Islam Adel', 'Id': 12345, 'Location': 'Cairo', 'Grades': [1, 2], 'Position': 'Lead', 'A': 1, 'B': 2}
{'Name': 'Islam Adel', 'Id': 12345, 'Location': 'Cairo', 'Grades': [1, 2], 'Position': 'Lead', 'B': 2}
{'Name': 'Islam Adel', 'Id': 12345, 'Location': 'Cairo', 'Grades': [1, 2], 'Position': 'Lead'}
{}

In [78]:
data = {'Name':'Islam Adel', 'Id': 12345, 'Location':'Cairo'}

print(data.items())
print(data.keys())
print(data.values())

# Copy 
data_copy = data.copy()
data_copy.popitem()
print(data)
print(data_copy)

# using get method
# print(data['Salary'])  # Prone to error if no such key
print(data.get('Name','Not Found'))
print(data.get('Salary','Not Found'))

dict_items([('Name', 'Islam Adel'), ('Id', 12345), ('Location', 'Cairo')])
dict_keys(['Name', 'Id', 'Location'])
dict_values(['Islam Adel', 12345, 'Cairo'])
{'Name': 'Islam Adel', 'Id': 12345, 'Location': 'Cairo'}
{'Name': 'Islam Adel', 'Id': 12345}
Islam Adel
Not Found